{% extends 'layouts/base.html' %}

{% block content %}
    <div class="flex justify-center items-center h-screen bg-gray-100">
        <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-2xl font-bold mb-4">更新音樂活動</h1>
            <form method="post" action="{%url 'apps:edit' musicEvent.id %}" class="space-y-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-md">更新</button>
            </form>
        </div>
    </div>
{% endblock %}
